
body {
  margin: 0;
}

h1 {
	font-size: 3rem;
}


.nav {
	text-align: center;
}

.section {
	width:100%;
	display: block;
}

.outline {
	box-sizing:border-box;
	padding:10px;
}
.tile {
	box-sizing:border-box;
	padding:5px;
	margin:0px;
}

.content {
	border: 1px solid #444;
	background-color: #EFEFEF;
	padding:5px;
	margin:5px;
	position: relative;
}

.title {
	text-align: center;
	width:60px;
	position: absolute;
	border: 1px solid #444;
	margin:-6px;
	padding:3px;
	right:5px;
	color:white;
}

.article {
	clear:right;
	position:relative;
	margin-top: 25px;
}

.chicken {
	background-color:#992233;
}

.beef {
	background-color:#223333;
}

.sushi {
	background-color:#333399;
}

